<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>! Error Page !</title>
</head>
<body>
    <h1>Error: <%= errorCode %></h1>
    <% if (errorCode === 404) { %>
        <p>Sorry, the page you are looking for could not be found.</p>
    <% } else if (errorCode === 500) { %>
        <p>Sorry, there was an internal server error.</p>
    <% } else { %>
        <p>Sorry, something went wrong.</p>
    <% } %>
</body>
</html>