<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/confetti.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/style.small.css">
</head>
<body>
  <header id="nav"> 
      <% include('./parts/header') %>
  </header>
  <img src="/img/dribbble_404.gif" alt="Dribbble 404">
  <footer id="footer">&copy; 2024 <%= name %></footer>

  <!-- JavaScript 파일 추가 -->
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/functions.js"></script>
</body>
