<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Aaron's Node Site | Thanks</title>
    <meta name="author" content="Aaron" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Compiled: https://codepen.io/fionnachan/pen/EvaqOB -->
    <link rel="stylesheet" href="css/confetti.css" />
    <link rel="stylesheet" media="(max-width: 768px)" href="css/style.small.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <script defer src="js/functions.js"></script>
</head>
<body>
    <%- include('./parts/header') %>
    <%- body %>
    <%- include('./parts/footer') %>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
